.Header {
    display: grid;
    margin: auto;
    width: 1200px;
    height: 100%;
}

.Main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Icon {
    height: 120px;
}

.Control {
    align-self: center;
    justify-self: end;
    grid-column: 3;
}

.Navigation {
    width: 100%;
}

.Navigation ul{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 0;
    background-color: #ddd;
    margin: auto;
}

.Navigation li {
    list-style: none;
    border: 2px solid gray;
    text-align: center;
    align-self: center;
    height: 100%;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .Header {
        width: auto;
    }
}

@media (max-width: 768px) {
    .Navigation {
        display: none;
    }
    
}
  

/* .Header {
    display: flex;
    flex-direction: column;
}

.Main {
    display: flex;
    position: relative;
}

.Icon {
    height: 120px;
    flex: 1;
}

.Control {
    border: 2px solid blue;
}

.Navigation {
}

.Navigation ul {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: auto;
    background-color: #ddd;
}

.Navigation li {
    list-style: none;
    padding: 15px 25px;
}  */
