.Navigation {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navigation ul {
    padding-left: 0;
    top: 0;
    display: flex;
    justify-content: space-evenly;
}

.Navigation li {
    display: inline;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    font-size: 15px;
}

.FirstNav {
    width: 33%;
    text-align: center;
}

.Logo {
    width: 33%;
}

.Logo img {
    width: 100%;
    height: 100%;
}

.SecondNav {
    width: 33%;
    text-align: center;
}
/* .Navigation {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    background-color: gray;
    top: 0;
    left: 0;
}

.Navigation nav {
    height: 100%;
}

.Navigation li {
    display: flex;
    margin: 10px;
}

.Navigation a {
    text-decoration: none;
    color: black;
}

.Navigation a:hover,
.Navigation a:active,
.Navigation a.active {
    color: purple;
}

.Logo {
    height: 5rem;  
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none
    }
} */