.Contact {
    width: 100%;
}

.Contact > img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.ContactContent {
    width: 500px;
    margin: auto;
}

@media (max-width: 540px) {
    .ContactContent {
        width: auto;
    } 
}

/* 
padding: 0 20px;
    width: 500px;
    margin: auto;
    border: 2px solid black;
*/

label {
    display: block;
}

input, textarea {
    display: block;
    width: 100%;
}

button {
    border: 0;
    padding: 0.5rem;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #171717;
}

.Send {
    margin: 1rem 1rem 1rem 0;
}

.Send:hover {
    color: rgb(107, 81, 158);
}

.Reset:hover {
    color: rgb(107, 81, 158);
}

.Success {
    color: green;
}

.Error {
    color: red;
}

@media (max-width: 580px) {
    .Contact {
        width: auto;
    }
}