.Contact {
    padding: 0 20px;
}

label {
    display: block;
}

input, textarea {
    display: block;
    width: 50%;
}

button {
    border: 0;
    padding: 0.5rem;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #171717;
}

.Send {
    margin: 1rem 1rem 1rem 0;
}

.Send:hover {
    color: rgb(107, 81, 158);
}

.Reset:hover {
    color: rgb(107, 81, 158);
}

.Success {
    color: green;
}

.Error {
    color: red;
}