.Home {
    width: 100%;
}

/* .Home > div {
    border: 2px solid blue;
    width: 1000px;
    margin: 0 auto;
} */
.Content {
    width: 500px;
    margin: auto;
    text-align: center;
}

@media (max-width: 540px) {
    .Content {
        width: auto;
    } 
}

.Home > img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}