.Layout {
    margin: auto;
    width: 1000px;
    overflow-y: auto;
    height: 75%;
    padding-top: 5px;
    /* Border Radius */
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1.5px solid rgb(43, 68, 149);
    /* border: 2px solid black; */
    margin-top: 1em;
    background-color: white;
    overflow-x: hidden;
}

@media (max-height: 700px) {
    .Layout {
        height: 65%;
    }
}

.Layout > div {
    padding: 0 20px;
}

@media (max-width: 1000px) {
    .Layout {
        width: auto;
        -webkit-overflow-scrolling: touch;
        height: 60%;
        border: none;
    }
}

.Background {
    height: 100%;
}